extends layout

block content
  if user
    if user.is_member
      p Welcome back #{user.username}
      div.grid 
        each message in messages 
          div.message-div
            p =====================================
            p Author: #{message.author.username}
            p Title: #{message.title}
            p Message: #{message.message_body }
            p Timestamp: #{message.formatted_timestamp}
            p =====================================
    else 
      div.grid 
      each message in messages 
        div.message-div
          p =====================================
          p Title: #{message.title}
          p Message: #{message.message_body} 
          a.become-member-nav(href="/home/become-member") Become a member to see date and authors username
          p =====================================
  else
    p Welcome to #{title}
    div.grid 
      each message in messages 
        div.message-div
          p =====================================
          p Title: #{message.title}
          p Message: #{message.message_body} 
          a.become-member-nav(href="/home/become-member") Become a member to see date and authors username
          p =====================================
